* {
  padding: 0;
  margin: 0;
  /* margin-bottom: 1rem; */
}
body {
  background-color: #a2c579;
}
hr {
  margin-bottom: 1rem;
}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #61a3ba; */
}
.container {
  width: 30%;
  background-color: #61a3ba;
  border-radius: 8px;
}
.heading-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Agbalumo";
  padding: 10px;
}
.carusel-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: #ffffdd;
  border-radius: 7px;
  font-weight: bold;
  color: #61a3ba;
}
.form-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 80px;
  padding: 10px;
  margin-bottom: 1rem;
}

input {
  direction: ltr;
  text-align: right;
  background-color: #ffffdd;
  height: 1.5rem;
  width: 20%;
  border-radius: 5px;
  border: 3px solid #ffffdd;
}
input[name="course"] {
  direction: rtl;
  width: 35%;
}
input::placeholder {
  text-align: right;
  color: #61a3ba;
  font-weight: bold;
}
button {
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #ffffdd;
  color: #61a3ba;
}
.form-container > button {
  position: absolute;
  bottom: 4%;
}
.button-container {
  display: flex;
  justify-content: center;
}
.error-container {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
.button-container > button {
  height: 2.5rem;
  width: 10rem;
  font-size: 1rem;
  padding: 6px;
}

.course-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.course-container > div {
  display: flex;
  /* background-color: #ffffdd;
  color: #61a3ba; */
  font-size: 1.2rem;
  font-weight: bold;
  color: #a2c579;
}
.course-container > div > * {
  margin-left: 1rem;
  margin-bottom: 0;
}
